.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1rem;
  background-color: black;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.btn {
  background-color: darkgray;
  border: solid darkgray 1px;

  outline: 0;
}
.btn:hover {
  background-color: rgb(203, 203, 203);
  border: solid rgb(203, 203, 203);
}

.btnImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
